@import './common.scss';
@import './ypy.scss';


#banner{
 width: 300px;
 height: 600px;
}
 



#legalBtn{	
	@include pos(220, 0);	
	width: 72px;
	// opacity: 1;
}

 

.logo{		
	width: 82px;		
}

#svg_move,
#svg_idle {
  @include pos(-11, 528);
}
#olg_main {
  width: 106px;
}
