@import './common.scss';
@import './ypy.scss';

#banner{
 width: 320px;
 height: 50px; 
}



 

.legal{
	// display: none;
}

#legalBtn{	
	@include pos(280, 0);	
	width: 40px;

	// display: none;
	// opacity: 1 !important;
}


#legalContent{
	font-size: 8px;
	line-height: 9px;
	padding:2px;
	br{
		display: none;
	}
}


svg#fire{
	@include pos-scale(34, -13, 0);
	width: 12px;	
	
}



.logo{	
	
	width: 54px;	
	
}



#svg_move,
#svg_idle {
  @include pos(-5, 14);
}
#olg_main {
  width: 55px;
}
