@import './common.scss';
@import './ypy.scss';

#banner{
 width: 728px;
 height: 90px; 
}

 


#legalBtn{	
	@include pos(650, 0);	
	width: 80px;

}


#legalContent{
	padding: 0;
	padding-left:5px;
}
 


.logo{	
	
	width: 104px;	
	
}


 

#olg_bg{
	
	// transform-origin: 0% 100% !important;
	// transform: translate(0px, 0px) scale(1);
}

#svg_move, #svg_idle{
	@include pos(-11, 24);
}

 
#olg_main{		
	width: 102px;	
}





#svg_move{
	// opacity:0;
}