@import './common.scss';
@import './ypy.scss';

#banner{
 width: 970px;
 height: 250px; 
}
 

#legalBtn{	
	@include pos(825, 0);	
	width: 140px;
	height: 50px;
	// opacity: 1 !important;
}


 
#olg{
	// border: 1px solid red;
	width: 167px;
	height: 81px;
	@include pos(-2, 171);
	// opacity: .5 !important;
}
