@import './common.scss';
@import './ypy.scss';

#banner{
 width: 970px;
 height: 250px; 
}
 

#legalBtn{	
	@include pos(825, 0);	
	width: 140px;
	height: 50px;
	// opacity: 1 !important;
}


 
#svg_move, #svg_idle{
	@include pos(-13, 162);
}
#olg_main{		
	width: 136px;	
}


