
.device{
	filter: drop-shadow(0px 0px 30px #ffe600) drop-shadow(0px 0px 30px #ffe600);
}

.phone{
	filter: drop-shadow(0px -6px 10px #FFFFFF) drop-shadow(0px -6px 10px #FFFFFF) drop-shadow(0px -6px 10px #ffe600);
	opacity: 0;
}

.hero_off, .hero_on{
	// display: none;
}


.end_device{
	filter: drop-shadow(0px 0px 30px #ffffff) drop-shadow(0px 0px 30px #ffe600);
}