<!-- <img class="retina trace" src="../_common/images/trace_<%= size %>.jpg" />   -->
<div id="svg_move">
    <svg id="olg_main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 436.96 443.56"><defs><style>.cls-1{fill:#003c71;}.cls-2{fill:#e4002b;}.cls-3{fill:#fed925;}.cls-4{fill:#66cef6;}.cls-5{fill:#8dc63f;}</style></defs>
        <g id="olg_bg" class="cls-1"><path  d="M0,234.59c0,115.39,92.22,209,206,209s206-93.59,206-209-92.22-209-206-209S0,119.21,0,234.59" transform="translate(0 0)"/></g>
        <polygon id="olg_red_tri" class="svg_logo cls-2" points="199.22 241.38 108.48 241.38 108.48 150.63 199.22 241.38"/>
        <g id="ball_1" class="svg_logo cls-3"><path d="M122.59,204.94A17.89,17.89,0,1,1,104.72,187a17.88,17.88,0,0,1,17.87,17.9" transform="translate(0 0)"/></g>
        <g id="ball_2" class="svg_logo cls-3"><path d="M161.72,204.94A17.9,17.9,0,1,1,143.83,187h0a17.9,17.9,0,0,1,17.88,17.9" transform="translate(0 0)"/></g>
        <g id="ball_3" class="svg_logo cls-3"><path d="M200.08,204.94a17.88,17.88,0,1,1-17.9-17.9,17.87,17.87,0,0,1,17.9,17.9h0" transform="translate(0 0)"/></g>
        <g id="olg_a" class="svg_logo cls-1"><path d="M104.72,193.83a11.2,11.2,0,1,0,11.2,11.2,11.19,11.19,0,0,0-11.2-11.2m0,17.79A6.59,6.59,0,1,1,111.3,205h0a6.59,6.59,0,0,1-6.58,6.58" transform="translate(0 0)"/></g>
        <polygon id="olg_b" class="svg_logo cls-1" points="136.41 193.82 136.41 216.25 152.38 216.25 152.38 211.88 141.61 211.88 141.61 193.82 136.41 193.82"/>
        <g  id="olg_c" class="svg_logo cls-1"><path d="M193.35,203.92a3.6,3.6,0,0,0-.07-.55h-10v3.33h5.38l-.39.93a6.59,6.59,0,1,1-3.52-8.64,6.36,6.36,0,0,1,1.65,1l4.2-2.34a11.14,11.14,0,0,0-8.33-3.79h-.1a7.22,7.22,0,0,0-.8,0H181a8.49,8.49,0,0,0-.88.14,11.2,11.2,0,1,0,13.07,13.19c.07-.35.12-.71.16-1.07a10.37,10.37,0,0,0,.06-1.12c-.06-.37-.06-.75-.09-1.12" transform="translate(0 0)"/>
        <g id="_50_a"><path  data-name="50_a" class="svg_logo cls-3" d="M271.82,195.1a27.05,27.05,0,0,0-26.95-6.79l1.95-5.4h26.76V174.2h-32.5l-9.64,24.88,8.41,2.49.28-.29a17.19,17.19,0,0,1,19.29-3.8,18.83,18.83,0,0,1,8.17,6.37,17.36,17.36,0,0,1,3.26,10.39,18.39,18.39,0,0,1-5.37,12.84,17.93,17.93,0,0,1-12.8,5.33h-.16a18.31,18.31,0,0,1-15.93-9.75,18.54,18.54,0,0,1-1.82-11.51l.11-.66L226,209.3l-.09.65a31.06,31.06,0,0,0-.32,4.92h0l0,.69a27.27,27.27,0,0,0,15.18,23l.58.29v0a25.4,25.4,0,0,0,11,2.51,27.66,27.66,0,0,0,14.6-4.3,26.24,26.24,0,0,0,12.76-22.84,26.9,26.9,0,0,0-7.94-19.14" transform="translate(0 0)"/>
        <g id="_50_b"><path  data-name="50_b" class="svg_logo cls-3" d="M307.86,172.36a27,27,0,1,0,27,27,27,27,0,0,0-27-27m18.12,27a18.12,18.12,0,1,1-18.12-18.11A18.14,18.14,0,0,1,326,199.37" transform="translate(0 0)"/>


        <g id="con_1" class="con cls-4"><path  d="M65.6,53.64a7.8,7.8,0,1,0,7.8-7.78,7.79,7.79,0,0,0-7.8,7.78" transform="translate(0 0)"/></g>
        <g id="con_2" class="con cls-5"><polygon  points="145.09 37.04 111.3 37.04 111.3 70.23 145.09 37.04"/></g>
        <g id="con_3" class="con cls-3"><path  d="M185,21.81A12.39,12.39,0,1,0,197.4,9.25,12.47,12.47,0,0,0,185,21.81" transform="translate(0 0)"/></g>
        <g id="con_4" class="con cls-4"><path  d="M233.56,48.46a8.13,8.13,0,1,0,8.12-8.1,8.12,8.12,0,0,0-8.12,8.1" transform="translate(0 0)"/></g>
        <g id="con_5" class="con cls-1"><polygon  points="258.32 0 277.56 0 277.56 19.73 258.32 0"/></g>
        <g id="con_6" class="con cls-4"><path  d="M312.81,59.5a11.73,11.73,0,1,0,11.73-11.7,11.71,11.71,0,0,0-11.73,11.7" transform="translate(0 0)"/></g>
        <g id="con_7" class="con cls-1"><path  d="M364.78,59.5a5.88,5.88,0,1,0,5.88-5.86,5.86,5.86,0,0,0-5.88,5.86" transform="translate(0 0)"/></g>
        <g id="con_8" class="con cls-3"><polygon  points="362.98 132.75 362.98 102.41 393.4 102.41 362.98 132.75"/></g>
        <g id="con_9" class="con cls-5"><path  d="M393.4,168.26a11.45,11.45,0,1,0,11.45-11.41,11.43,11.43,0,0,0-11.45,11.41" transform="translate(0 0)"/></g>
        <g id="con_10" class="con cls-1"><path  d="M425.21,220.83a5.88,5.88,0,1,0,5.88-5.86,5.87,5.87,0,0,0-5.88,5.86" transform="translate(0 0)"/></g>
        <g id="con_11" class="con cls-3"><polygon  points="395.61 236.49 395.61 278.84 436.96 278.84 395.61 236.49"/></g>
        </svg>
        </div>


            <div id="svg_idle">
    <svg id="olg_main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 436.96 443.56"><defs><style>.cls-1{fill:#003c71;}.cls-2{fill:#e4002b;}.cls-3{fill:#fed925;}.cls-4{fill:#66cef6;}.cls-5{fill:#8dc63f;}</style></defs><path id="olg_bg" class="cls-1" d="M0,234.59c0,115.39,92.22,209,206,209s206-93.59,206-209-92.22-209-206-209S0,119.21,0,234.59" transform="translate(0 0)"/>
        <polygon id="olg_red_tri" class="svg_logo cls-2" points="199.22 241.38 108.48 241.38 108.48 150.63 199.22 241.38"/>
        <path id="ball_1" class="svg_logo cls-3" d="M122.59,204.94A17.89,17.89,0,1,1,104.72,187a17.88,17.88,0,0,1,17.87,17.9" transform="translate(0 0)"/>
        <path id="ball_2" class="svg_logo cls-3" d="M161.72,204.94A17.9,17.9,0,1,1,143.83,187h0a17.9,17.9,0,0,1,17.88,17.9" transform="translate(0 0)"/>
        <path id="ball_3" class="svg_logo cls-3" d="M200.08,204.94a17.88,17.88,0,1,1-17.9-17.9,17.87,17.87,0,0,1,17.9,17.9h0" transform="translate(0 0)"/>
        <path id="olg_a" class="svg_logo cls-1" d="M104.72,193.83a11.2,11.2,0,1,0,11.2,11.2,11.19,11.19,0,0,0-11.2-11.2m0,17.79A6.59,6.59,0,1,1,111.3,205h0a6.59,6.59,0,0,1-6.58,6.58" transform="translate(0 0)"/>
        <polygon id="olg_b" class="svg_logo cls-1" points="136.41 193.82 136.41 216.25 152.38 216.25 152.38 211.88 141.61 211.88 141.61 193.82 136.41 193.82"/>
        <path id="olg_c" class="svg_logo cls-1" d="M193.35,203.92a3.6,3.6,0,0,0-.07-.55h-10v3.33h5.38l-.39.93a6.59,6.59,0,1,1-3.52-8.64,6.36,6.36,0,0,1,1.65,1l4.2-2.34a11.14,11.14,0,0,0-8.33-3.79h-.1a7.22,7.22,0,0,0-.8,0H181a8.49,8.49,0,0,0-.88.14,11.2,11.2,0,1,0,13.07,13.19c.07-.35.12-.71.16-1.07a10.37,10.37,0,0,0,.06-1.12c-.06-.37-.06-.75-.09-1.12" transform="translate(0 0)"/>
        <path id="_50_a" data-name="50_a" class="svg_logo cls-3" d="M271.82,195.1a27.05,27.05,0,0,0-26.95-6.79l1.95-5.4h26.76V174.2h-32.5l-9.64,24.88,8.41,2.49.28-.29a17.19,17.19,0,0,1,19.29-3.8,18.83,18.83,0,0,1,8.17,6.37,17.36,17.36,0,0,1,3.26,10.39,18.39,18.39,0,0,1-5.37,12.84,17.93,17.93,0,0,1-12.8,5.33h-.16a18.31,18.31,0,0,1-15.93-9.75,18.54,18.54,0,0,1-1.82-11.51l.11-.66L226,209.3l-.09.65a31.06,31.06,0,0,0-.32,4.92h0l0,.69a27.27,27.27,0,0,0,15.18,23l.58.29v0a25.4,25.4,0,0,0,11,2.51,27.66,27.66,0,0,0,14.6-4.3,26.24,26.24,0,0,0,12.76-22.84,26.9,26.9,0,0,0-7.94-19.14" transform="translate(0 0)"/>
        <path id="_50_b" data-name="50_b" class="svg_logo cls-3" d="M307.86,172.36a27,27,0,1,0,27,27,27,27,0,0,0-27-27m18.12,27a18.12,18.12,0,1,1-18.12-18.11A18.14,18.14,0,0,1,326,199.37" transform="translate(0 0)"/>


        <path id="con_1" class="con cls-4" d="M65.6,53.64a7.8,7.8,0,1,0,7.8-7.78,7.79,7.79,0,0,0-7.8,7.78" transform="translate(0 0)"/>
        <polygon id="con_2" class="con cls-5" points="145.09 37.04 111.3 37.04 111.3 70.23 145.09 37.04"/>
        <path id="con_3" class="con cls-3" d="M185,21.81A12.39,12.39,0,1,0,197.4,9.25,12.47,12.47,0,0,0,185,21.81" transform="translate(0 0)"/>
        <path id="con_4" class="con cls-4" d="M233.56,48.46a8.13,8.13,0,1,0,8.12-8.1,8.12,8.12,0,0,0-8.12,8.1" transform="translate(0 0)"/>
        <polygon id="con_5" class="con cls-1" points="258.32 0 277.56 0 277.56 19.73 258.32 0"/>
        <path id="con_6" class="con cls-4" d="M312.81,59.5a11.73,11.73,0,1,0,11.73-11.7,11.71,11.71,0,0,0-11.73,11.7" transform="translate(0 0)"/>
        <path id="con_7" class="con cls-1" d="M364.78,59.5a5.88,5.88,0,1,0,5.88-5.86,5.86,5.86,0,0,0-5.88,5.86" transform="translate(0 0)"/>
        <polygon id="con_8" class="con cls-3" points="362.98 132.75 362.98 102.41 393.4 102.41 362.98 132.75"/>
        <path id="con_9" class="con cls-5" d="M393.4,168.26a11.45,11.45,0,1,0,11.45-11.41,11.43,11.43,0,0,0-11.45,11.41" transform="translate(0 0)"/>
        <path id="con_10" class="con cls-1" d="M425.21,220.83a5.88,5.88,0,1,0,5.88-5.86,5.87,5.87,0,0,0-5.88,5.86" transform="translate(0 0)"/>
        <polygon id="con_11" class="con cls-3" points="395.61 236.49 395.61 278.84 436.96 278.84 395.61 236.49"/></svg>
        </div>  